<div class="section">
<h2><strong>Skill Summary</strong>
    <p>Expert knowledge of web development (AJAX,HTML,CSS,JavaScript,jQuery)</p>
    <p>Solid experience of Unix/Linux OS and scripting(bash shell, vim script, ruby)</p>
    <p>Proficient in multi-tier,distributed enterprise application development based on JEE platform and related technologies( Java,JSP,Servlet,JDBC,EJB)</p>
    <p>Hands-on experience of Object-Oriented design,OOA,OOD,OOP,Design-Patterns</p>
    <p>Familiar with varieties of open source projects like Tomcat, Apache, MySQL,Hibernate,Struts,Spring,Junit,Ant</p>
</h2>
<h2><b>Programming Languages<i>Java  JavaScript  Bash  Ruby  C/C++  XML</i></h2>
<h2><b>Web</b><i>DHTML  HTML  CSS  jQuery  YUI  AJAX</i></h2>
<h2><b>Databases</b><i>MySQL  Oracle  DB2  SQLServer</i></h2>
<h2><b>Tools</b><i>Eclipse  VIM  GIT  SVN  Bash  SSH  Firefox</i></h2>
<h2><b>Platforms</b><i>Linux  UNIX  Mac OS</i></h2>
<h2><b>Design Patterns</b><i>Factory Pattern  Command Pattern  Method Template Pattern  Decoration Pattern  Proxy Pattern  Iterator Pattern  State Pattern  Strategy Pattern  Composition Pattern  Build Pattern</i></h2>
</div>
<div class="section">
<h1><a href="http://www.successfactors.com">SUCCESSFACTORS (an SAP Company) </a>  2009-2011 <p>Leading business execution software solutions developer providing a wide range of enterprise tools.</p></h1>
<h2><strong>Senior UI Engineer</strong><p>Played a key role in major development projects, focusing on UI initiatives and working closely with project manager and UX designer to build highly interactive web user interface. Demonstrated key functions and attended status meetings. Worked with QA to coordinate assignments. Debugged apps and documented activities in project logs.</p></h2>
<h2><strong>Key Accomplishments</strong>
    <p>Was instrumental in developing new corporate home page that improved UX by enabling customization, displaying items and analytics and increasing user control.</p>
    <p>Co-developed patent-pending, role-based permissions function for enterprise apps, which improved controls, eliminated administrative issues, increased efficiency and enabled centralized permissions viewing.</p>
    <p>Won award for taking initiative to write a Bash script to automate development environment setup on Linux (Ubuntu), reducing setup time from 1 day to ½ hour. </p>
</h2>
<h2><b>Technologies used</b><i>Java, JavaScript, Bash, DHTML/HTML/CSS, YUI, Oracle, Jboss, Ant, EJB, JSF, JEE, JIRA, Eclipse, Vim, GIT/SVN, Firefox and Linux.</i></h2>
</div>
<div class="section">
<h1><a href="http://www-01.ibm.com/software/marketing-solutions/demandtec/">DEMANDTEC (an IBM company),</a>2006-2009 <p>Cloud apps and insights company supporting 500 retail and consumer products businesses with 16K users.</p></h1>
<h2><strong>Senior UI Engineer</strong><p>Played a key role in major development projects, focusing on UI initiatives and working closely with project manager and UX designer to build highly interactive web user interface. Demonstrated key functions and attended status meetings. Worked with QA to coordinate assignments. Debugged apps and documented activities in project logs.</p></h2>
<h2><strong>Key Accomplishments</strong>
    <p>Was instrumental in developing new corporate home page that improved UX by enabling customization, displaying items and analytics and increasing user control.</p>
    <p>Won award for taking initiative to write a Bash script to automate development environment setup on Linux (Ubuntu), reducing setup time from 1 day to ½ hour.</p>
</h2>
<h2><b>Technologies used</b><i>Java, JavaScript, Bash, DHTML/HTML/CSS, YUI, Oracle, Jboss, Ant, EJB, JSF, JEE, JIRA, Eclipse, Vim, GIT/SVN, Firefox and Linux.</i></h2>
</div>
<div class="section">
<h1><a href="http://www.infosys.com/pages/index.aspx">INFOSYS CHINA,</a>2004-2006 <p>Leading business execution software solutions developer providing a wide range of enterprise tools.</p></h1>
<h2><strong>Software Engineer</strong><p>Played a key role in major development projects, focusing on UI initiatives and working closely with project manager and UX designer to build highly interactive web user interface. Demonstrated key functions and attended status meetings. Worked with QA to coordinate assignments. Debugged apps and documented activities in project logs.</p></h1>
<h2><strong>Key Accomplishments</strong>
    <p>Developed sales platform, policy and claims administration tools, product configurator, underwriting functions, channel management, finance and reinsurance apps for Vietnam Life Insurance system.</p>
    <p>Consistently delivered complex projects on time and according to design specifications</p>
</h2>
<h2><b>Technologies used</b><i>Java, JavaScript, DHTML, CSS, Ajax, Oracle, Websphere, LDAP, Apache, Ant, Hibernate, Spring, Struts, VSS, RADAR, Eclipse, PL/SQL Developer, Linux.</i></h2>
</div>
