<div class="article">
    <h3><%=title%></h3>
    <p class="content"><%=content%></p>
    <span class="info"><i>Posted on</i> <b><%=postedDate%></b> <i>Tagged under</i> <b><%=tag%></b></span>
</div>
