<form class="form-search">
<div class="input-append">
    <input type="text" class="span2 search-query">
    <button type="submit" class="btn">Search</button>
</div>
</form>
<b>Recent Posts</b>
<ul id="recent_blogs" class="tag_list">
</ul>
<b>Articles by categories</b>
<ul id="article_by_tags" class="tag_list">
</ul>

<script>
$(function(){
    $.get('/admin/ajax_aggregate_blog.cgi', function(data){
        var html = $('<div>').append($.parseHTML(data));
        $('#recent_blogs').html(html.find('div.recent_blogs'));
        $('#article_by_tags').html(html.find('div.article_by_tags'));
    });
});
</script>
