<form class="form-search">
<div class="input-append">
    <input type="text" class="span2 search-query">
    <button type="submit" class="btn">Search</button>
</div>
</form>
<ul id="my_projects">
    My personal projects
    <li><a href="">tinyhttpd</a></li>
    <li><a href="">getfiles.vim</a></li>
    <li><a href="">tinyproxy</a></li>
<ul>
