<ul>
<% if (tab =='me'){ %>
    <li class="active"><a href="index.cgi">Summary</a></li>
    <li><a href="blog.html">Blog</a></li>
<% }else { %>
    <li><a href="index.cgi">Summary</a></li>
    <li class="active"><a href="blog.html">Blog</a></li>
<% } %>
</ul>
