<!DOCTYPE html>
<html lang="en">
<head>
<title><%=title%></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="res/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="topbar">
      <div class="profile">
          <img src="res/profile2.jpg"/>
          <h1>Larry He</h1>
          <p>Follow my heart, Pursue my dream!</p>
      </div>
      <div class="menu_nav">
        <% include tab %>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
        <div class="mainbar">
        <% if(main == 'blog'){ %>
            <% include blog.ejs %>
        <% } else { %>
            <% include cv.txt %>
      <% } %>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
      <p>Powered by <a href="https://github.com/larryhe/tinyhttpd">tinyhttpd</a> and <a href="http://nodejs.org/">node.js</a> and <a href="http://www.sqlite.org/">SQLite</a></p>
  </div>
</div>
</html>
